<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_chongfengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{918,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{918,529}}</string>
                <key>sourceSize</key>
                <string>{918,529}</string>
            </dict>
            <key>effect_daduizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1505},{316,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,109}}</string>
                <key>sourceSize</key>
                <string>{316,109}</string>
            </dict>
            <key>effect_dianpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1842},{232,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,111}}</string>
                <key>sourceSize</key>
                <string>{232,111}</string>
            </dict>
            <key>effect_fanpai-.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1955},{227,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,113}}</string>
                <key>sourceSize</key>
                <string>{227,113}</string>
            </dict>
            <key>effect_gang_ecptoma.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1970},{173,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,126}}</string>
                <key>sourceSize</key>
                <string>{173,126}</string>
            </dict>
            <key>effect_gang_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1789},{307,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,310}}</string>
                <key>sourceSize</key>
                <string>{307,310}</string>
            </dict>
            <key>effect_gangshangkaihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1477},{430,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,111}}</string>
                <key>sourceSize</key>
                <string>{430,111}</string>
            </dict>
            <key>effect_hu_ecptoma.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1842},{173,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,126}}</string>
                <key>sourceSize</key>
                <string>{173,126}</string>
            </dict>
            <key>effect_hu_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1165},{307,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,310}}</string>
                <key>sourceSize</key>
                <string>{307,310}</string>
            </dict>
            <key>effect_longqidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1505},{335,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,110}}</string>
                <key>sourceSize</key>
                <string>{335,110}</string>
            </dict>
            <key>effect_peng_ecptoma.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2084},{173,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,126}}</string>
                <key>sourceSize</key>
                <string>{173,126}</string>
            </dict>
            <key>effect_peng_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1477},{307,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,310}}</string>
                <key>sourceSize</key>
                <string>{307,310}</string>
            </dict>
            <key>effect_pengpenghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1491},{335,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,111}}</string>
                <key>sourceSize</key>
                <string>{335,111}</string>
            </dict>
            <key>effect_qiangganghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1505},{335,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,110}}</string>
                <key>sourceSize</key>
                <string>{335,110}</string>
            </dict>
            <key>effect_qingdadui.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1165},{338,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,116}}</string>
                <key>sourceSize</key>
                <string>{338,116}</string>
            </dict>
            <key>effect_qinglongqibei.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1165},{324,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,117}}</string>
                <key>sourceSize</key>
                <string>{324,117}</string>
            </dict>
            <key>effect_qingqidui.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1165},{338,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,116}}</string>
                <key>sourceSize</key>
                <string>{338,116}</string>
            </dict>
            <key>effect_qingyise.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1477},{340,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,116}}</string>
                <key>sourceSize</key>
                <string>{340,116}</string>
            </dict>
            <key>effect_qixiaodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2101},{342,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,109}}</string>
                <key>sourceSize</key>
                <string>{342,109}</string>
            </dict>
            <key>effect_repao.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1842},{236,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,108}}</string>
                <key>sourceSize</key>
                <string>{236,108}</string>
            </dict>
            <key>effect_ting_ecptoma.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1909},{173,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,126}}</string>
                <key>sourceSize</key>
                <string>{173,126}</string>
            </dict>
            <key>effect_ting_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1165},{307,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,310}}</string>
                <key>sourceSize</key>
                <string>{307,310}</string>
            </dict>
            <key>effect_zerenji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{948,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,630}}</string>
                <key>sourceSize</key>
                <string>{948,630}</string>
            </dict>
            <key>effect_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2070},{204,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,113}}</string>
                <key>sourceSize</key>
                <string>{204,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.pvr.ccz</string>
            <key>size</key>
            <string>{990,2212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6232a49554f3972aa873b06baec81882:1/1$</string>
            <key>textureFileName</key>
            <string>effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
