<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_desktop_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>bg_desktop_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>icon_chong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2791,670},{41,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,52}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>icon_diamond_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{3404,605},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>icon_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{3270,577},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_gang_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{3136,577},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3002,577},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_guo_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{3148,443},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{3014,443},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_hu_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{3473,471},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{3339,437},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_peng_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{3473,337},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{3687,349},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>icon_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{3514,203},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_ting_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{3339,303},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{3534,605},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>icon_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{3488,605},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>icon_ze.png</key>
            <dict>
                <key>frame</key>
                <string>{{2834,670},{41,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,51}}</string>
                <key>sourceSize</key>
                <string>{41,51}</string>
            </dict>
            <key>room_button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{3514,113},{219,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,88}}</string>
                <key>sourceSize</key>
                <string>{219,88}</string>
            </dict>
            <key>room_infoPanel_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2891,460},{109,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,162}}</string>
                <key>sourceSize</key>
                <string>{109,162}</string>
            </dict>
            <key>room_infoPanel_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{3282,499},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>room_infoPanel_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{3282,443},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>room_netconnet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3014,2},{498,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,299}}</string>
                <key>sourceSize</key>
                <string>{498,299}</string>
            </dict>
            <key>room_ok_button_down.pn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3607,349},{144,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,78}}</string>
                <key>sourceSize</key>
                <string>{144,78}</string>
            </dict>
            <key>room_ok_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{3648,203},{144,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,79}}</string>
                <key>sourceSize</key>
                <string>{144,79}</string>
            </dict>
            <key>room_out_tile_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3607,495},{90,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,124}}</string>
                <key>sourceSize</key>
                <string>{90,124}</string>
            </dict>
            <key>room_sunshine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2566,2},{446,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,456}}</string>
                <key>sourceSize</key>
                <string>{446,456}</string>
            </dict>
            <key>room_text_2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2566,600},{323,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,68}}</string>
                <key>sourceSize</key>
                <string>{323,68}</string>
            </dict>
            <key>room_text_2D2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3014,373},{323,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,68}}</string>
                <key>sourceSize</key>
                <string>{323,68}</string>
            </dict>
            <key>room_text_3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2566,530},{323,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,68}}</string>
                <key>sourceSize</key>
                <string>{323,68}</string>
            </dict>
            <key>room_text_3D2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3014,303},{323,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,68}}</string>
                <key>sourceSize</key>
                <string>{323,68}</string>
            </dict>
            <key>room_text_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2566,460},{323,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,68}}</string>
                <key>sourceSize</key>
                <string>{323,68}</string>
            </dict>
            <key>room_touming_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{3473,303},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>text_jinping.png</key>
            <dict>
                <key>frame</key>
                <string>{{3514,58},{223,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,53}}</string>
                <key>sourceSize</key>
                <string>{223,53}</string>
            </dict>
            <key>text_liping.png</key>
            <dict>
                <key>frame</key>
                <string>{{3514,2},{223,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,54}}</string>
                <key>sourceSize</key>
                <string>{223,54}</string>
            </dict>
            <key>text_tianzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2566,670},{223,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,52}}</string>
                <key>sourceSize</key>
                <string>{223,52}</string>
            </dict>
            <key>turnChick_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2891,624},{69,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,103}}</string>
                <key>sourceSize</key>
                <string>{69,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room.pvr.ccz</string>
            <key>size</key>
            <string>{3739,724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f59a4049ee3bc4bd5bc2dcacbc3fb56:1/1$</string>
            <key>textureFileName</key>
            <string>room.pvr.ccz</string>
        </dict>
    </dict>
</plist>
