<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_dkfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{964,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{964,182}}</string>
                <key>sourceSize</key>
                <string>{964,182}</string>
            </dict>
            <key>bg_headportrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,671},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>bg_tankuang_dkfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1070,642}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1070,642}}</string>
                <key>sourceSize</key>
                <string>{1070,642}</string>
            </dict>
            <key>bg_wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,763},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>btn_dissolve.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,525},{144,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,80}}</string>
                <key>sourceSize</key>
                <string>{144,80}</string>
            </dict>
            <key>btn_dkfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,379},{144,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,80}}</string>
                <key>sourceSize</key>
                <string>{144,80}</string>
            </dict>
            <key>btn_dkfj_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,233},{144,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,80}}</string>
                <key>sourceSize</key>
                <string>{144,80}</string>
            </dict>
            <key>btn_dkjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{229,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,79}}</string>
                <key>sourceSize</key>
                <string>{229,79}</string>
            </dict>
            <key>btn_dkjl_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,968},{229,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,79}}</string>
                <key>sourceSize</key>
                <string>{229,79}</string>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{144,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,79}}</string>
                <key>sourceSize</key>
                <string>{144,79}</string>
            </dict>
            <key>btn_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,148},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>btn_replace_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,926},{144,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,80}}</string>
                <key>sourceSize</key>
                <string>{144,80}</string>
            </dict>
            <key>btn_replace_share_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,844},{144,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,80}}</string>
                <key>sourceSize</key>
                <string>{144,80}</string>
            </dict>
            <key>title_dkjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,233},{203,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,59}}</string>
                <key>sourceSize</key>
                <string>{203,59}</string>
            </dict>
            <key>title_dkjl_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1049},{203,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,59}}</string>
                <key>sourceSize</key>
                <string>{203,59}</string>
            </dict>
            <key>title_ykf_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,641},{201,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,59}}</string>
                <key>sourceSize</key>
                <string>{201,59}</string>
            </dict>
            <key>title_ykfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,438},{201,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,59}}</string>
                <key>sourceSize</key>
                <string>{201,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>delegateRoom.pvr.ccz</string>
            <key>size</key>
            <string>{992,1110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:322f51c7fcd4ff52f0a4ffa3a42c45d1:1/1$</string>
            <key>textureFileName</key>
            <string>delegateRoom.pvr.ccz</string>
        </dict>
    </dict>
</plist>
