<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>emoji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2875,343},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>emoji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2356,2},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>emoji_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2217,2},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>emoji_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2078,2},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>emoji_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,2},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>emoji_10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,2},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>emoji_10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,2},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>emoji_10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>emoji_10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,2},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>emoji_10_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>emoji_10_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,2},{133,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,137}}</string>
                <key>sourceSize</key>
                <string>{133,137}</string>
            </dict>
            <key>emoji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,358},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>emoji_11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,358},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>emoji_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,358},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>emoji_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2292,260},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>emoji_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2168,260},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>emoji_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,260},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>emoji_11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,254},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>emoji_11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2320,137},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>emoji_11_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2196,137},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>emoji_11_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2072,137},{122,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,121}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>emoji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{162,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,116}}</string>
                <key>sourceSize</key>
                <string>{162,116}</string>
            </dict>
            <key>emoji_12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,2},{162,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,116}}</string>
                <key>sourceSize</key>
                <string>{162,116}</string>
            </dict>
            <key>emoji_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{162,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,116}}</string>
                <key>sourceSize</key>
                <string>{162,116}</string>
            </dict>
            <key>emoji_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,139},{162,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,116}}</string>
                <key>sourceSize</key>
                <string>{162,116}</string>
            </dict>
            <key>emoji_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{162,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,116}}</string>
                <key>sourceSize</key>
                <string>{162,116}</string>
            </dict>
            <key>emoji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3015,2},{128,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>emoji_13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2885,2},{128,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>emoji_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2755,2},{128,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>emoji_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2625,2},{128,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>emoji_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2495,2},{128,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,129}}</string>
                <key>sourceSize</key>
                <string>{128,129}</string>
            </dict>
            <key>emoji_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,358},{112,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{112,120}</string>
            </dict>
            <key>emoji_14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,358},{112,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{112,120}</string>
            </dict>
            <key>emoji_14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,358},{112,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{112,120}</string>
            </dict>
            <key>emoji_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2642,225},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{111,121}</string>
            </dict>
            <key>emoji_15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2529,225},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{111,121}</string>
            </dict>
            <key>emoji_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2416,260},{111,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,121}}</string>
                <key>sourceSize</key>
                <string>{111,121}</string>
            </dict>
            <key>emoji_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2761,343},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>emoji_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2647,348},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>emoji_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2529,348},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>emoji_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3097,243},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>emoji_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2983,225},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>emoji_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2869,225},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>emoji_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2755,225},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>emoji_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,299},{112,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{112,116}</string>
            </dict>
            <key>emoji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3111,133},{108,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,140}}</string>
                <key>sourceSize</key>
                <string>{108,140}</string>
            </dict>
            <key>emoji_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,388},{108,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,140}}</string>
                <key>sourceSize</key>
                <string>{108,140}</string>
            </dict>
            <key>emoji_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,246},{108,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,140}}</string>
                <key>sourceSize</key>
                <string>{108,140}</string>
            </dict>
            <key>emoji_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,303},{108,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,140}}</string>
                <key>sourceSize</key>
                <string>{108,140}</string>
            </dict>
            <key>emoji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,137},{115,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,129}}</string>
                <key>sourceSize</key>
                <string>{115,129}</string>
            </dict>
            <key>emoji_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,229},{115,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,129}}</string>
                <key>sourceSize</key>
                <string>{115,129}</string>
            </dict>
            <key>emoji_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3145,2},{115,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,129}}</string>
                <key>sourceSize</key>
                <string>{115,129}</string>
            </dict>
            <key>emoji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,372},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>emoji_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,372},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>emoji_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,246},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>emoji_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,372},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>emoji_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,246},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>emoji_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,246},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>emoji_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,120},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>emoji_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,120},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>emoji_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,120},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>emoji_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,120},{125,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>emoji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,276},{147,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,135}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>emoji_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,139},{147,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,135}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>emoji_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{147,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,135}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>emoji_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{147,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,135}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>emoji_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{147,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,135}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>emoji_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{147,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,135}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>emoji_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,135}}</string>
                <key>sourceSize</key>
                <string>{147,135}</string>
            </dict>
            <key>emoji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,137},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>emoji_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,137},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>emoji_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,137},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>emoji_6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,137},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>emoji_6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,137},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>emoji_6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,137},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>emoji_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,137},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>emoji_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,137},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>emoji_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,137},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>emoji_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2957,133},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>emoji_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2803,133},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>emoji_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2649,133},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>emoji_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2495,133},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>emoji_6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2649,133},{90,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,152}}</string>
                <key>sourceSize</key>
                <string>{90,152}</string>
            </dict>
            <key>emoji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,413},{89,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,158}}</string>
                <key>sourceSize</key>
                <string>{89,158}</string>
            </dict>
            <key>emoji_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,139},{89,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,158}}</string>
                <key>sourceSize</key>
                <string>{89,158}</string>
            </dict>
            <key>emoji_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,413},{89,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,158}}</string>
                <key>sourceSize</key>
                <string>{89,158}</string>
            </dict>
            <key>emoji_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,413},{89,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,158}}</string>
                <key>sourceSize</key>
                <string>{89,158}</string>
            </dict>
            <key>emoji_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{89,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,158}}</string>
                <key>sourceSize</key>
                <string>{89,158}</string>
            </dict>
            <key>emoji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,229},{121,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>emoji_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,229},{121,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>emoji_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,229},{121,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>emoji_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,229},{121,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>emoji_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,229},{121,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>emoji_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,229},{121,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,127}}</string>
                <key>sourceSize</key>
                <string>{121,127}</string>
            </dict>
            <key>emoji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2989,357},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>emoji_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2348,383},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>emoji_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2230,383},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>emoji_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2112,383},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>emoji_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,383},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>emoji_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,377},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>emoji_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,358},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji.png</string>
            <key>size</key>
            <string>{3264,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab1fc457390274880a0f1e81ef75b4bb:1/1$</string>
            <key>textureFileName</key>
            <string>emoji.png</string>
        </dict>
    </dict>
</plist>
